// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.7;
$enable-negative-margins: true;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
$bg-image-default-1: url("http://127.0.0.1:8000/storage/essential/bg-default.png");
$bg-default: rgba(22, 28, 45, 1);
$color: #5e6e82;

